.button {
    -fx-background-color: #007bff;
    -fx-text-fill: white;
    -fx-border-radius: 5px;
}

.root {
    -fx-padding: 20px;
}

.TituloLista {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}